---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h3>Hey, welcome to the landing page for my game/projects!</h3>
  <h3>If you want to see more about me, check out my <a href=https://www.linkedin.com/in/nicholasfuller1>LinkedIn</a></h3>
  <h3><i>Click on any header for more info about the project</i></h3>
  <hr>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>